 /**
 * Created by BJ
 * DateTime: 2018/1/7 15:19 
 */
 .nav-simple{
     height: 60px;
     line-height: 60px;
     border-bottom: 1px solid #dddddd; /* об╠ъ╫Г */
     background: #fff;
 }
 .nav-simple .logo{
     font-size: 26px;
     font-weight: bold; /* ╪с╢ж */
     color: dodgerblue;
 }