/**
* Created by BJ
* DateTime: 2018/1/7 15:19
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #dddddd; /* 下边界 */
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold; /* 加粗 */
    color: #1E90FF;
}